.expenseForm_controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
  }

  .expenseForm_control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }

  .expenseForm_control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
  }

  .expenseForn_actions {
    text-align: right;
  }

  .form {
    width: 50rem;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F0F8FF;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    padding: .5rem;
  }